.masthead-group {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  height: 100%;
}

.masthead-child {
  color: darkslategray;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: color 500ms;
  font-size: 25px;
  padding-left: 1%;
  padding-right: 1%;
  height: 100%;
}

.masthead-child:hover {
  color: #3366ff;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
}

.divider {
  border: 1px solid gray;
  height: 100%;
}

