<div class="masthead-container">
  <div class="masthead-title" routerLink="/home">
    <div class="masthead-title-content" routerLink="/home">Black Scholes Merton Calculator</div>
  </div>
  <div class="masthead-navigation-container">
    <div class="masthead-navigation-child child-1" routerLink="/home">Home</div>
    <div class="masthead-navigation-child child-2" routerLink="/calculator">Calculator</div>
    <div class="masthead-navigation-child child-3">Help</div>
    <div class="masthead-navigation-child child-4">About Me</div>
  </div>
</div>
