<div class="footer-container">
  <div class="footer-directory-container">
    <div class="footer-directory-child child-1"><a routerLink="/home">Home</a></div>
    <div class="footer-directory-child child-1"><a routerLink="/calculator">Calculator</a></div>
    <div class="footer-directory-child child-1">Help</div>
    <div class="footer-directory-child child-1">About Me</div>
  </div>
  <div class="footer-message">
    If you like this web application, feel free to check my Github for more projects!
  </div>
</div>
