  <h1>Black Scholes Merton Option Pricing Calculator</h1>
  <section>
    <h2>Usage</h2>
    <p>
      Click on the above <b>Calculator</b> tab to redirect to the calculator. From there, fill in the data into the
      appropriate fields and click on the calculate button. You should be able to receive an estimated option price
      based
      on the data provided
    </p>
  </section>
  <section>
    <h2>About</h2>
    <p>
      This web application is intended to refine my skills as a developer and financial engineer. Using prior knowledge
      from course materials, I have created a quick and simple solution to price European options using the <b>Black
      Scholes Merton</b> differential equation
    </p>
  </section>
