.main-parent {
  order: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: black !important;
  margin-top: 3%;
}

.main-container {
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Mukta', sans-serif !important;
  padding: 1em;
  background-color: rgb(255, 255, 255);
  width: 75%;
  border-radius: 10px;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-moz-keyframes fadeIn {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-o-keyframes fadeIn {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: 0
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-ms-keyframes fadeIn {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}


.main-content {
}

.child-1 {
  order: 1;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  color: black;
  border-right: 1px solid lightslategrey;
}

.child-1-1 {
  order: 1;
  font-size: 20px;
  text-align: center;
}

.child-1-2 {
  order: 2;
}

.grid-row-1 {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.grid-row-1 mat-radio-group {
  float: left;
  width: 50%;
  padding-left: 25%;
}

.radio-button {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3px;
}

.child-2 {
  order: 2;
  width: 50%;
  color: black;
}

.child-2-1 {
  order: 1;
  font-size: 20px;
  text-align: center;
}

.child-2-2 {
  order: 2;
  font-size: 20px;
  text-align: end;
}


:host ::ng-deep mat-form-field {
  font-family: 'Mukta', sans-serif !important;
  font-size: medium;
}

:host ::ng-deep .mat-input-element {
  color: black !important;
}

:host ::ng-deep .mat-form-field-prefix {
  color: black !important;
}

:host ::ng-deep .mat-form-field-suffix {
  color: black !important;
}

button {
  font-family: 'Mukta', sans-serif;
  transition: 0.25s;
  z-index: 1;
}

button:hover {
  box-shadow: 0 0.5em 0.5em -0.4em black;
  transform: translateY(-0.25em);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
