<div class="calculator-container">
  <h4>Calculator Components</h4>
  <div class="calculator-components">
    <div class="calculator-child child-1">
      <nb-radio-group [(ngModel)]="optionChoice">
        <nb-radio *ngFor="let option of optionType" [value]="option.value">
          {{ option.label }}
        </nb-radio>
      </nb-radio-group>
    </div>
    <div class="calculator-child child-2">
      <form [formGroup]="bsmForm" (ngSubmit)="submitForm()">
        <p><input nbInput type="text" placeholder="Stock Price" shape="semi-round" formControlName="stockPrice"></p>
        <p><input nbInput type="text" placeholder="Strike Price" shape="semi-round" formControlName="strikePrice"></p>
        <p><input nbInput type="text" placeholder="Time To Maturity" shape="semi-round"
                  formControlName="timeToMaturity">
        </p>
        <p><input nbInput type="text" placeholder="Risk-Free Rate" shape="semi-round" formControlName="riskFreeRate">
        </p>
        <p><input nbInput type="text" placeholder="Volatility" shape="semi-round" formControlName="volatility"></p>
        <button nbButton status="primary" shape="semi-round">Submit</button>
      </form>
    </div>
  </div>
</div>
<div class="answer-container">
  <h4>Answer Here</h4>
  <div class="answer-child child-1">
    <p>
      Option Price: <b>${{ parseResponse() }}</b>
    </p>
  </div>
</div>
